extends layout/main-layout.pug


block content
    +createPostForm(userLoggedIn)
    .postContainer
    +createReplyModal(userLoggedIn)
    +createDeletePostModal(userLoggedIn)
    +createPinPostModal()
    +createUnpinPostModal()



block scripts
    script(src="/js/home.js") 


