extends layout/login-layout.pug

block content
    .login-container
        h2 Login
        form(method="post")
            p.errorMessage #{errorMessage}
            //- input(type="text", name="logUsername", placeholder="username or email", value=logusername required='')
            //- input(type="password", name="logPassword", placeholder="Password", required='')
            input(type="text", name="logUsername", placeholder="username or email", value='renzisheree' required='')
            input(type="password", name="logPassword", placeholder="Password", value="1", required='')
            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.