extends layout/login-layout.pug

block content
    .login-container
        h1 Login
        form(method="post")
            input(type="text", name="logUsername", placeholder="Username or email", required='')
            input(type="text", name="logUsername", placeholder="Password", required='')
            input(type="submit", value="Login")
        a(href="/register") Need a account? Register here.