.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header-img {
  width: 100%;
  height: 35vh;
}
.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer-img {
  width: 100%;
  height: 35vh;
  transform: rotate(180deg); /* Rotate the image upside down */
}

.wrapper {
  display: flex;
  justify-content: center;
}

.login-container {
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #dedede;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(247, 67, 67, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(247, 67, 67, 0.3);
}
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #dedede;
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  margin-bottom: 10px;
}
