:root {
  --lightGrey: #dbdada;
  --spacing: 12px;
  --grayText: rgb(101, 119, 134);
  --grayButtonText: rgba(0, 0, 0, 0.34);
  --red: #ff0034;
  --redBackground: #dc58721c;
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.1);
}
a {
  all: unset;
}

.wrapper > .row {
  margin: 0;
}
/* main css */
nav {
  display: flex;
  flex-direction: column;
  justify-items: space;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}

nav a {
  font-size: 25px;
  color: black;
  color: inherit;
  padding: 10px 15px;
  border-radius: 10px;
}

button i,
button span {
  pointer-events: none;
}
.nav-body a:hover {
  background-color: rgb(195, 193, 193);
}
.nav-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.mainSectionContainer {
  padding: var(--spacing);
  margin: 50px 0;
  border: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  max-width: 630px;
}

.titleContainer {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}
.postFormContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
  padding: 5px;
  width: 100%;
  align-items: center;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}
.userImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}
.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
  display: flex;
  align-items: center;
}
.textareaContainer textarea {
  color: #999999;
  width: 100%;
  border: none;
  resize: none;
  font-size: 15px;
  line-height: 21px;
}
#submitPostButton {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 7px 15px;
  border: 1px solid var(--lightGrey);
}
#submitPostButton:disabled {
  color: var(--lightGrey);
}
.postContainer {
  width: 100%;
  padding: var(--spacing) 0;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--spacing);
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  border-bottom: 1px solid var(--lightGrey);
}
.mainContentContainer {
  flex: 1;
  display: flex;
}
.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.displayName {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.username .date {
  color: var(--grayText);
  flex: 1;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  background-color: transparent;
  border: none;
  color: var(--grayButtonText);
  padding: 2px 10px;
}
.postHeader {
  display: flex;
}
.postHeader a:hover {
  text-decoration: underline;
}

.postHeader a,
.postHeader span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: var(--lightGrey);
  color: var(--grayText);
  border-radius: 50%;
}

.postButtonContainer.red button.active {
  color: var(--red);
}
.postButtonContainer.green button.active {
  color: var(--green);
}
.postButtonContainer.red button:hover {
  background-color: var(--redBackground);
  color: var(--red);
}
.postButtonContainer.green button:hover {
  color: var(--green);
  background-color: var(--greenBackground);
}
.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--grayText);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing) 0;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 23px;
}
.postHeader {
  display: flex;
}
.postHeader .date {
  flex: 1;
}

.postHeader .deleteBtn {
  background-color: white;
  border: none;
  color: #676a6d;
}

.errorMessage {
  margin-left: auto;
  margin-right: auto;
}
.profileHeaderContainer {
  padding: var(--spacing);
  width: 100%;
}
.profileHeaderContainer .infoContainer {
  height: 140px;
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  height: 132px;
  width: 132px;
  padding: var(--spacing);
  position: absolute;
  right: 35px;
  top: 0;
}
.profileHeaderContainer .profileBottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}
.profileButton,
.followButton {
  border-radius: 10px;
  color: black;
  border: 1px solid var(--lightGrey);
  font-size: 14px;
  margin-left: var(--spacing);
  background-color: white;
  padding: 5px var(--spacing);
}

.followButton.following {
  color: #20b820;
  border: none;

  border: 1px solid var(--lightGrey);
}

.profileButton:hover,
.followButton:hover {
  background-color: var(--lightGrey);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.infoContainer .userInfoContainer {
  display: flex;
  flex-direction: column;
}
.infoContainer .userInfoContainer .username {
  font-size: 14px;
  font-weight: 500;
}

.followersContainer .value {
  font-weight: bold;
  margin-right: 5px;
}

.followersContainer span:not(.value) {
  color: var(--grayText);
}
.followersContainer a {
  margin-right: 15px;
  cursor: pointer;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
  width: 100%;
}

.tab {
  flex: 1;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grayText);
  font-weight: bold;
}
.tab.active {
  border-bottom: 1px solid black;
  color: black;
}
.tab:hover {
  color: black;
  background-color: var(--lightGrey);
}

.noResults {
  padding: var(--spacing);
}

.resultsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}
.user .userDetailContainer {
  flex: 1;
  padding: 0 var(--spacing);
}
